/** Font Utils **/
@font-face {
    font-family: "Inter Regular";
    src: url("fonts/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inconsolata Bold";
    src: url("fonts/Inconsolata-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Inter Semi Bold";
    src: url("fonts/Inter_18pt-SemiBold.ttf") format("truetype");
    font-weight: bold;
}

/** Body **/
body {
    color: #2db82d;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-family: 'Inter Regular', sans-serif;
    line-height: 2;
    margin: 0;
    background-color: #111111;
    height: 100%;
}

img {
    opacity: 0.75;
}

.img-max {
    max-width: 80%;
    width:100%;
  }

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2db82d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #196619;
}

/** Container **/
.my-container-fluid {
    padding: 0;
    overflow-x: hidden;
}

/* Page content fade-in effect */
.content {
    visibility: hidden;
    opacity: 0;
    filter: blur(5px) brightness(1.2);
    transition: opacity 1.5s ease-out, filter 1.5s ease-out, box-shadow 1.5s ease-out;
}

.content.show {
    visibility: visible;
    opacity: 1;
    filter: blur(0px) brightness(1);
}

/* General Jumbotron Styles */
.jumbotron{
    position:relative;max-height:100%;padding-top:10vh;padding-bottom:10vh;margin-bottom:0;background-size:cover;background-position:center;border-bottom:1px solid #929292;background-attachment:scroll;
}

.jumbotron::before{
    content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:linear-gradient(0deg,rgba(0,0,0,.53) 60%,rgba(255,255,255,.27) 140%);
}

/* Jumbotron images */
.clans-jb{background-image: url('images/mw5clans-assets/mw5clans-jumbotron-2.jpg');}
.mercs-jb{background-image: url('images/mw5mercs-assets/mw5mercs-jumbotron.jpeg');}
.mwo-jb{background-image: url('images/mwo-assets/mwo-jumbotron-1.jpg');}
.index-jb{background-image: url('images/index-assets/bjorn-khajiit.png');}
.btr-jb{background-image: url('images/btr-assets/bjorn-rage.jpg');}
.rotr-jb {background-image: url('images/rotr-assets/rotr-jumbotron.png');}
.lotr-jb {background-image: url('images/lotr-assets/lotr-jumbotron.png');}
.bh-jb {background-image: url('images/bh-assets/bh-jumbotron-3.png');}

/* Text Container Styles */
.text-container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

    text-shadow: 
    -1px -1px 2px black, 
     1px -1px 2px black, 
    -1px  1px 2px black, 
     1px  1px 2px black;
}

/* Mobile First!!! */

/* Font Defs */
h1, h2, h3, .design-questions, .btn-caption, nav a, .navbar-brand, .next-project-footer, .footer-content{
    font-family: 'Inconsolata Bold', sans-serif;
}

h6{
    font-family: 'Inter Semi Bold', sans-serif;
}

/* Font Sizes */
h1, .hero-header, .hero-header3, .reflection-header{
    font-size: 1.6rem;
}

h2, h3, .design-questions, .hero-header2, .project-subtitle, .project-subtitle-link {
    font-size: 1.2rem;
}

p, li, .desc, .game-links-subtitles, h6, .nav-link, .footer-content, .next-project-footer, .nav-link {
    font-size: 0.9rem;
}

.playtest-no {
    font-size: 2.8rem;
}

.game-links-subtitles{
    display:block;
}

/* Line heights, margins, alingments */
h1, h2, h6, .hero-header, .hero-header2, .hero-header3 {
    line-height: 1.6;
}

.hero-header, .hero-header2, .hero-header3, .project-subtitle, .game-links-subtitles {
    text-align: center;
    margin: auto;
}

/* Colors */
.hero-header, nav a, .navbar-brand, .game-links, .project-subtitle-link, .sfu-link {
    color: #2db82d;
}

a:hover, .game-links:hover, .sfu-link:hover, .figma-link:hover {
    color: #196619;
    text-decoration: none;
}

.hero-header2, .hero-header3, .reflection-header, p, li, a, .footer, .next-project-footer, .footer-content {
    color: #E0E0E0;
}

h6, .h2-hero-caption, .playtest-no {
    color: #696969;
}

.project-subtitle, .game-links-subtitles {
    width:90%;
    color: #929292;
}

.contributions-row, nav, .my-row {
    border-bottom: 1px solid #929292;
}

/* Ironhand image margins */
.lokir{margin-top: -50px;}
.ursa{margin-top: -20px;}
.morkvar{margin-top: -20px;}
.hjallna{margin-top: -70px;}

/* Paddings, margins, etc */
.row, .hero-header2, .navbar-brand, .navbar-nav, .footer{
    padding-left:10%;
    padding-right:10%;
}

.nav-item, ul {
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
}

.speakers {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.dababies {
    margin-top: 40px;
}

.couple {
    margin-top: -30px;
    width: 50%;
}

/* Text widths */
.project-copy, .project-copy3 {
    max-width: 62em;
}

.project-copy2 {
    max-width: 40em;
}

.project-copy4{
    max-width:80em
}

.ability-copy {
    max-width: 50em;
}

/** Footer crap **/
.footer {
    background-color: #111111;
    text-align: left;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns text to the left */
    gap: 5px;
}

/** Buttons **/
.btn, .btn2, .btn3{
    width: 20%;
    padding: 0;
    opacity: 0.5;
    transition: all 0.5s;
    text-decoration: none;
}

.btn2 {
    width: 20%;
    background-color: black;
}

.btn3{
    border: none;
    background: none;
    margin:5%; 
}

.btn3:focus, .btn3:active, .btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
}

.btn:hover, .btn2:hover, .btn3:hover, .active {
    opacity: 1;
}

/* Textboxes */
.elementrow{
    justify-content: center;  
    align-items: center;  
}

.textBox, .textBox-2, .textBox-3, .textBox-4, .textBox-5, .textBox-6 {
    display: none;
}

/** Videos **/
.vid {
    margin-top: -50px;
}

/** Hover Effect Index Html **/
.img-wrapper{position:relative;overflow:hidden}.img-wrapper>.index-img{display:block;object-fit:cover;object-position:center;width:100%}.img-wrapper>.img-content{position:absolute;inset:0;color:#ebebeb;text-align:center;background:rgba(17,17,17,.4);margin:auto;display:flex;justify-content:center;align-items:center}.img-wrapper>.img-content,.img-wrapper>.index-img{transition:.2s ease-in-out}.img-wrapper:hover>.index-img.blur{filter:blur(3px)}.img-wrapper:hover>.index-img.zoom{transform:scale(1.1)}.img-wrapper>.img-content.fade{opacity:0}.img-wrapper:hover>.img-content.fade{opacity:1}.img-wrapper>.img-content.slide-up{transform:translateY(100%)}.img-wrapper:hover>.img-content.slide-up{transform:translateY(0)}

/* Scroll up button */
#back-to-top{position:fixed;right:25px;bottom:15px;display:none;color:#32cd32;padding:0;border:none;background:0 0;font-size:30px;outline:0;-webkit-animation:2s ease-in-out infinite ca3_fade_move_up;-moz-animation:2s ease-in-out infinite ca3_fade_move_up;animation:2s ease-in-out infinite ca3_fade_move_up}


/* Scroll down button */
[data-ca3_icon]::before{font-weight:400;content:attr(data-ca3_icon)}.ca3-scroll-down-link{height:75px;width:20px;padding:0;border:none;background:0 0;position:absolute;left:49%;bottom:0;color:#32cd32;text-align:center;font-size:30px;-webkit-animation:2s ease-in-out infinite ca3_fade_move_down;-moz-animation:2s ease-in-out infinite ca3_fade_move_down;animation:2s ease-in-out infinite ca3_fade_move_down}

/* Animated scroll arrow animation down */
@-webkit-keyframes ca3_fade_move_down{0%{-webkit-transform:translate(0,-10px);opacity:0}50%{opacity:1}100%{-webkit-transform:translate(0,10px);opacity:0}}@-moz-keyframes ca3_fade_move_down{0%{-moz-transform:translate(0,-10px);opacity:0}50%{opacity:1}100%{-moz-transform:translate(0,10px);opacity:0}}@keyframes ca3_fade_move_down{0%{transform:translate(0,-10px);opacity:0}50%{opacity:1}100%{transform:translate(0,10px);opacity:0}}

/* Animated scroll arrow animation up */
@-webkit-keyframes ca3_fade_move_up{0%{-webkit-transform:translate(0,10px);opacity:0}50%{opacity:1}100%{-webkit-transform:translate(0,-10px);opacity:0}}@-moz-keyframes ca3_fade_move_up{0%{-moz-transform:translate(0,10px);opacity:0}50%{opacity:1}100%{-moz-transform:translate(0,-10px);opacity:0}}@keyframes ca3_fade_move_up{0%{transform:translate(0,10px);opacity:0}50%{opacity:1}100%{transform:translate(0,-10px);opacity:0}}

/** Media Queries **/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .jumbotron{height:50vh}.btn{width:10%}.btn2{width:45%}.lokir{margin-top:-120px}.morkvar,.ursa{margin-top:-50px}.ursa{width:35%}.hjallna{margin-top:-160px}.footer-content{font-size:1rem}.playtest-no{font-size:3.3rem}.footer-container{flex-direction:row;justify-content:space-between}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1{font-size:2.1rem;line-height:1.2}.design-questions,h2,h3{font-size:1.7rem;line-height:1.2}.next-project-footer,.footer-content,li,p{font-size:1rem}.row,h1,h2{padding-bottom:15px}.hero-header,.hero-header3{font-size:2.7rem;max-width:22em;line-height:1.5}.hero-header2{font-size:1.8rem}.reflection-header{font-size:2.5rem}.jumbotron{height:100vh;padding-top:225px;padding-bottom:290px;margin:0}.my-container-fluid{padding:0;overflow-x:hidden}.btn2{width:20%;padding:20px}.ca3-scroll-down-link{height:200px;width:30px;font-size:30px}.game-links,.game-links-subtitles{font-size:1.5rem}.btn3{width:12%;margin:2%}.lokir{margin-top:-120px}.morkvar,.ursa{margin-top:-50px}.ursa{width:35%}.hjallna{margin-top:-160px}.nav-link{font-size:1rem}


}

/* Large devices (desktops, laptops 992px and up) */
@media (min-width: 992px) {
    .my-container-fluid{padding:0;overflow-x:hidden}h1{font-size:2.1rem}h2{font-size:1.4rem}.hero-header,.hero-header3{font-size:3rem}.hero-header2{font-size:1.8rem}.me{margin-top:-9px}.btn2{width:45%}.lokir{margin-top:-170px;width:55%}.halvar{margin-top:-40px;width:55%}.halvar-lotr{margin-top:-60px;width:55%}.ursa{margin-top:-100px;width:48%}.morkvar{width:63%;margin-top:-110px}.hjallna{width:65%;margin-top:-200px}.scourged{margin-top:100px}.vid{margin-top:50px}.btn3{width:9%;margin:2%}.project-copy2{max-width:55em}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .my-container-fluid{padding:0;overflow-x:hidden}h1{font-size:2.2rem;line-height:1.2}.design-questions,h2,h3{font-size:1.5rem;line-height:1.5}li,p{font-size:1rem}.row,h1,h2{padding-bottom:15px}.hero-header{font-size:4rem;max-width:22em;line-height:1.5}.hero-header2{font-size:2.5rem}.hero-header3{font-size:3.2rem}.btn{width:15%}.btn2{width:20%}.vid{margin-top:0}.btn3{width:6.5%;margin:1.2%}.lokir{margin-top:-200px;width:42%}.halvar{margin-top:-60px;width:42%}.halvar-lotr{margin-top:-70px;width:40%}.ursa{margin-top:-100px;width:34%}.morkvar{width:47%;margin-top:-110px}.hjallna{width:47%;margin-top:-210px}.playtest-no{font-size:4rem}h6{font-size:1rem;}.project-copy2{max-width:42em}.ability-copy{max-width: 40em}
}

/* Thicc devices (thicc desktops, 1440px and up) */
@media (min-width: 1440px) {
    .my-container-fluid{padding:0;overflow-x:hidden}.jumbotron{height:100%}.btn{width:15%;padding:0}.btn2{width:20%;padding:20px}.hjallna{margin-top:-270px}.project-copy,.project-copy2,.project-copy3{max-width:42em}
}

/* Thiccc devices (thicc desktops, 1920px and up) */
@media (min-width: 1920px) {
    .my-container-fluid{padding:0;overflow-x:hidden}.jumbotron{max-height:100vh}.btn{width:12%;padding:0}.btn2{width:20%;padding:20px}.btn3{width:7%;margin:1%}.hjallna{margin-top:-210px}.project-copy,.project-copy2,.project-copy3{max-width:42em}
}

/* Thiccc devices (thicc desktops, 2200pz and up) */
@media (min-width: 2200px) {
    .project-copy, .project-copy2, .project-copy3{max-width: 50em}.project-copy4{max-width:100em}
}

/* Thiccc devices (thicc desktops, 2500px and up) */
@media (min-width: 2500px) {
    .project-copy, .project-copy2, .project-copy3{max-width: 55em}.project-copy4{max-width:100em}
}

/* Portrait Mode Specific Styles (vertical screens) */
@media (orientation: portrait) {
    .jumbotron{height:100%}
}

/* Adjust for Small Portrait Screens */
@media (max-width: 767px) and (orientation: portrait) {
    .jumbotron{padding-top:20vh;padding-bottom:20vh}
}

/* Adjust for Medium Portrait Screens */
@media (max-width: 1024px) and (orientation: portrait) {
    .jumbotron{padding-top:18vh;padding-bottom:18vh}
}
